body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F2F4;
}

div{
  display: flex;

}

/*** index page **/ 

/****  nav bar ***/

header {  
  
  width: 100%;
}


#logo{
    float: left;
    font-size: 280%;
}

h1{
  font-size: 300%;
  text-align: center;
  color: rgba(153, 30, 2, 1);
  margin: 1.5%;
}

h2 {
  justify-content: center;
  font-size: 200%;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu {
 line-height: 75px; 
 
}

#logo{
  margin: 0;
  padding: 0;
}

#menu li {
    float: right;
    margin-right: 3%;

  }

  a:hover {
  color: rgba(9, 2, 0, 1);
}

a {
  text-decoration: none;
  color: rgba(153, 30, 2, 1);
}



/* hero image*/



.hero-image{
    height:80%;
    width: 100%;
    background:url("../images/hero-image.webp") no-repeat center center;
    
    margin: 0;
    padding: 0;
}



/*first section of text*/

.site-info{
  
  background-color: rgba(153, 30, 2, 1);
  color: #fafafa;
  justify-content: center;
  text-align: center;
  line-height: 230%;
  font-size: 150%;
}


/*headings on index and activities page*/
.pageHeading{
  display: flex;
  justify-content: center;
  color: rgba(153, 30, 2, 1) ;
  width: 100%;
}  


  /*index page featured activities */

.featuredContainerOuter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

  .featuredContainerLeft,  .featuredContainerRight, .featuredContainerCenter {
  display: flex;
  flex-direction: column;
  border: 10px solid transparent;
  border-image: url("../images/african-print.webp") 30 round;
  width: 28%;
  margin: 10px;
  text-align: center;  
  font-size: 20px;
  padding: 15px; 
  }

  .imageContainer{
    height: 100%;
  }

   .imagesIndex {
  width: 100%;
  height: 70%;
  
}

/*Activty name */
.activity-info{
  justify-content: center;
  font-size:130% ;
}

/*find out more button*/
.findOutMore{
  font-size: 110%;
  justify-content: center;
  width: 100%;
  color: rgba(153, 30, 2, 1);

}


/*activities page***/ 

/***activities containers */


.flex-container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  font-size: 120%;
  line-height: 90%;
}


/*image gallery on activities page */

/* The flip card container - */
.flip-card {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border: 10px solid transparent;
  border-image: url("../images/african-print.webp") 30 round;
  width: 25%;
  height: 350px;
  margin: 2%;
  text-align: center;  
  font-size: 20px;   
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.images-Activities {
   width: 96%;
  height: 70%;
  margin: 2%;
}

.activityTitle {
  justify-content: center;
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  color: black;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 0;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
}


/* activities information */


.activitiesH2{
font-size: 100%;
}
.table-data {
  text-align: left;
  font-size: 80%;
}

.table-data2 {
  font-size: 80%;
}

.eventText {
  font-size: 80%;
  line-height: 20px;
}



/** flex box for forms **/

.flex-container2{
  display: flex;
  flex-direction: row;
 justify-content: center;
}

/*form on activities page*/

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(153, 30, 2, 1);  
  margin: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.formHeader {
  text-align: center;
  margin: 2%;
}

input, textarea {
  background-color: #F8EBEB;
  border-radius: 7px;
}


h4{
  color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.formContents {
  margin:0 10% 0 10%; 
}

.formSubmit {
  font-size: 1.5rem;
 margin-left: 30%;
  width: 25%;
  color: rgba(153, 30, 2, 1);
  transition: width 2s height 2s;
  cursor: pointer;
}

.formSubmit:hover {
  width: 40%;
  font-size: 2rem;
}

.formLink{
   color: black;
}


/*about page*/


.aboutContainerBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.box1{
  display: flex;
  flex-direction: column;
  background-color: #F1F2F4;
  width: 80%;
  text-align: center;
}

.aboutpageH2 {
  color: rgba(153, 30, 2, 1) ;
}

.aboutPageText {
  margin: 2%;
}

.img1 {
  margin-left: 20%;
  border-radius: 40%;
  width: 50%;
}

.map {
  width: 100%;
}

/***footer**/

#social-networks{
  text-align: center;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(153, 30, 2, 1);
    font-size: 1.25rem;
}

.socials {
    display: list-item;
    text-align: -webkit-match-parent;
    color: #fafafa;
}



/*------------------media queries---*/
/*mobile small 320px*/

@media screen  and (max-width: 374px) {

  /***HOME PAGE****/

  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;    
  }

  #menu{
    display: flex;
    flex-direction: column-reverse;
    line-height: 150%;
    margin-left: 80%;
    padding: 0;
    
  }

  .site-info{
    font-size: 90%;
  }


  h2{
    font-size: 140%;
  }

  .featuredContainerOuter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

   .featuredContainerLeft, .featuredContainerRight, .featuredContainerCenter{
    width: 100%;
    height: 70%;
   }


 /***Events***/
 
 .flex-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.flip-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/**form**/

.form {
  width: 97%;
  margin: 2%;
}

.formContents{
  width: 60%;
  margin: 0 0 0 2%;
}

textarea, input{
  width: 140%;
}

.formSubmit{
  width: 55%;
}

.formSubmit:hover {
  width: 65%;
  font-size: 2rem;
}


/***About page***/

.aboutContainerBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

}

/*mobile 375px*/

@media screen  and (min-width: 374px) {


/***HOME PAGE****/
  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;    
  }

  #menu{
    display: flex;
    flex-direction: column-reverse;
    line-height: 150%;
    margin-left: 100%;
    padding: 0;
   
  }

  h2{
    font-size: 140%;
  }

  .site-info{
    font-size: 90%;
  }

  .featuredContainerOuter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

   .featuredContainerLeft, .featuredContainerRight, .featuredContainerCenter{
    width: 90%;
    height: 70%;
    margin: 0;
    padding: 2%;
    margin-bottom: 2%;
   }

    /***Events***/
 
 .flex-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.flip-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

/**form**/

.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  width: 97%;
  margin: 2%;
}

.formContents{
  width: 60%;
  margin: 0 0 0 2%;
}

textarea, input{
  width: 140%;
}

.formSubmit{
  width: 55%;
}

.formSubmit:hover {
  width: 65%;
  font-size: 2rem;
}

/***About page***/

.aboutContainerBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

}

/*mobile 425px*/
@media screen  and (min-width: 427px) {

  /***HOME PAGE****/

 header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;    
  }

  #menu{
    display: flex;
    flex-direction: column-reverse;
    line-height: 150%;   
    margin-left: 190%;
    padding: 0;
  }

  .hero-outer{
    width: 100%;
  }

  .site-info{
    font-size: 90%;
  }

  h2{
    font-size: 140%;
  }

  .featuredContainerOuter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

   .featuredContainerLeft, .featuredContainerRight, .featuredContainerCenter{
    width: 90%;
    height: 70%;
    margin: 0;
    padding: 2%;
    margin-bottom: 4%;
   }

      /***Events***/
 
 .flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

.flip-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  
}

/**form**/

.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  width: 97%;
  margin: 2%;
}

.formContents{
  width: 60%;
  margin: 0 0 0 2%;
}

textarea, input{
  width: 140%;
}

.formSubmit{
  width: 55%;
}

.formSubmit:hover {
  width: 65%;
  font-size: 2rem;
}

/***About page***/

.aboutContainerBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

}

/*mobile 425px*/
@media screen  and (min-width:952px){

  /***HOME PAGE****/

 header{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;

    width: 75%;    
  }

  #menu{
    display: flex;
    flex-direction: column-reverse;
    line-height: 150%;   
    margin-left: 190%;
    padding: 0;
  }



  .hero-outer{
    width: 100%;
  }

  .site-info{
    font-size: 90%;
  }

  h2{
    font-size: 140%;
  }

  .featuredContainerOuter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

   .featuredContainerLeft, .featuredContainerRight, .featuredContainerCenter{
    width: 30%;
    height: 70%;
    margin: 2%;
    padding: 2%;
    
   }

      /***Events***/
 
 .flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

.flip-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  
}

.eventText {
  font-size: 60%;
}

/**Form**/

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form {
  width: 97%;
  margin: 2%;
}

.formContents{
  width: 60%;
  margin: 0 0 0 4%;
}

textarea, input{
  width: 140%;
}

.formSubmit{
  width: 55%;
}

/***About page***/

.aboutContainerBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

}



